/* GLOBAL */

#content {
    min-height: 100vh;
}

/* HOME PAGE */

.home .top-content .text .logo a {
    display: inline-block;
    width: auto;
    height: auto;
    background: none;
}

.home .top-content .text .logo a img {
    max-width: 160px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.input-success {
    color: #4aff4b;
}
.input-error {
    color: #ff8a38;
}

input[type="email"] {
    height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #666;
    border: 2px solid #666;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 50px;
    color: #ddd;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

input[type="email"]:focus {
    outline: 0;
    background: #666;
    border: 2px solid #888;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

input[type="email"]:-moz-placeholder { color: #ddd; }
input[type="email"]:-ms-input-placeholder { color: #ddd; }
input[type="email"]::-webkit-input-placeholder { color: #ddd; }

/* BLOG */

.top-container {
    height: 440px;
    background: url(../maren-one-page-template/assets/img/backgrounds/1.jpg);
    background-size: cover;
    padding-top: 63px;
}

.blog-container {
    min-height: calc(100vh - 621px);
    padding: 3vh 0;
}
.blog-container.no-blog-post {
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog-container.no-blog-post .blog-box {
    text-align: center;
    margin: 0;
}

/* BLOG POST */

.blogPost .blog-container {
    padding-bottom: calc(3vh + 30px);
}
.bold {
    font-weight: bold;
}

/* MANAGE BLOG POST */

.manageBlogPost .footer-container {
    min-height: calc(100vh - 621px);
    padding: 5vh 0 0 0;
}

.manageBlogPost .contact-form textarea {
    height: auto;
}

.left-padding {
    display: inline-block;

}