<?php

use lib\Config;

Config::set([
	'debug'                  => true,
	'debug_key'              => 'cachwir',
	'default_lang'           => 'fr',
	'session_namespace'      => '_app_occ_blog',
	'session_add_id_in_urls' => false,

	'database'              => [
		'database' => '',
		'hostname' => '',
		'username' => '',
		'password' => '',
	],

	'template_dir'      => __DIR__.'/../templates/',
]);

Config::set([
	'site_title' => 'Mon super blog',
	'mailing'               => [
		'perform_shoot' => false,
		'contact_mail'  => [
			"host" => "",
			"port" => 587,
			"encryption" => "",
			"username" => "",
			"password" => "",
			"from" => "",
			"to" => "",
		],
	],
], 'fr');